

#hello {
	color: blue;
}
#form {
    padding-top: 10%;
}
#form div {
    padding-top: 2%;
}
.formElements{
    width: 100% !important;
}
#echo{
    margin-right: 0;
}
#alignLabel{
     display: inline-block;
     vertical-align: middle;
}
.row {
  width: 100%;
  margin: 0 auto;
}

.labelPosition{
    margin-top: 5% !important;
}
#label_frame_fin{
    padding-left: 40% !important;
}
#render{
    width: 100%;
}



