#app-content {
    margin: 0;
}
#form {
    padding-top: 10%;
    padding-left: 5%;
}
#form div {
    padding-top: 2%;
}
.formElements{
    width: 100% !important;
}
#echo{
    margin-right: 0;
}
#alignLabel{
     display: inline-block;
     vertical-align: middle;
}
.row {
  width: 100%;
  margin: 0 auto;
}
.labelPosition{
    margin-top: 5% !important;
}
#label_frame_fin{
    padding-left: 40% !important;
}
#render{
    width: 100%;
}


/* ---- sidenav ---- */
.sidenav {
    background-color: #1d2d44;
    color: white;
    height: 100%;
    width: 30%;
    position: fixed;
    z-index: 1;
    right: 0;
    float: right;
    overflow-x: hidden;
    transition: 0.5s;
    display: flex;
    flex-direction: column;
    padding-top: 10px;
}
.sidenav-top {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    margin: 0 10px;
}
.sidenav-top h2 {
    width: 100%;
}
.closebtn {
    font-size: 36px !important;
}
.sidenav-top h2, .sidenav-top a {
    margin: 0;
    padding: 0;
}
.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
    text-decoration: none;
}
.lower {
   text-transform: lowercase;
}
#filesDisplay {
    padding: 10px 20px;
}
.render-form {
    margin: auto;
}

/* ---- sidenav (END) ---- */


/* ---- File tree ---- */

.php-file-tree {
    /*font-family: Georgia;*/
    font-size: 16px;
    letter-spacing: 1px;    line-height: 1.5;
}
.php-file-tree A {
    color: #000000;
    text-decoration: none;
}
.php-file-tree A:hover {
    color: #666666;
}
.php-file-tree .open {
    font-style: italic;
}
.php-file-tree .closed {
    font-style: normal;
}
.php-file-tree {
    margin-left: 20px;
}
.php-file-tree .pft-file {
    padding-bottom: 10px;
    width: 100%;
}
.closed, .open {
    margin: auto 0;
    height: 100%;
}
.pft-directory ul {
    padding-left: 20px;
}
.php-file-tree a {
    color: #fff;
    width: 100%;
}
.php-file-tree a:focus {
    color: #fff;
}
.php-file-tree i {
    padding-right: 10px;
}

/* ---- File tree (END) ---- */


/*.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s
}
.sidenav-title {
    color: white;
    margin-top: 0;
}*/